@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.buttons {
    @apply bg-sky-600 rounded-2xl h-15 w-30 duration-200 ease-in-out transform hover:scale-105 text-white font-semibold;
}

#container {
    display: grid;
    grid-template-columns: 280px 1fr;   
}

#sidebar-header {
    padding: 20px;
}

#middle-sidebar, #footer-sidebar {
    padding: 20px;
}

#sidebar p, #sidebar h2 {
    color: white;
}

ul {
    list-style: none;
    color: white;
}
.svg-sidebar-header {
    height: 50px;
    width: 50px;
    fill: white;
} 

.svg-sidebar {
    height: 30px;
    width: 30px;
    fill: white;
}

#main-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

#top-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

#bottom-header {
    padding: 20px; 
}

#dashboard {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#projects, #reminders {
    padding: 20px;
}

#modal {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr;
}

.svg-header {
    height: 25px;
    width: 25px;
    fill: black;
}