@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar-header {
    padding: 20px;
}

#middle-sidebar, #footer-sidebar {
    padding: 20px;
}

#sidebar p, #sidebar h2 {
    color: white;
}

ul {
    list-style: none;
    color: white;
}
.svg-sidebar-header {
    height: 50px;
    width: 50px;
    fill: white;
} 

.svg-sidebar {
    height: 30px;
    width: 30px;
    fill: white;
}

#main-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#top-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.svg-header {
    height: 25px;
    width: 25px;
    fill: black;
}