@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.buttons {
    @apply bg-sky-600 rounded-2xl h-15 w-30 duration-200 ease-in-out transform hover:scale-105 text-white font-semibold shadow-[5px_5px_10px_rgba(0,0,0,0.5)] cursor-pointer;
}

#container {
    display: grid;
    grid-template-columns: 280px 1fr;   
}

#sidebar-header {
    padding: 20px;
}

#middle-sidebar, #footer-sidebar {
    padding: 20px;
}

#sidebar p, #sidebar h2 {
    color: white;
}

ul {
    list-style: none;
    color: white;
}
.svg-sidebar-header {
    height: 50px;
    width: 50px;
    fill: white;
} 

.svg-sidebar {
    height: 30px;
    width: 30px;
    fill: white;
}

#main-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

#top-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

#bottom-header {
    padding: 20px; 
}

#dashboard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
}

#title {
    padding: 20px;
}

#Text {
    padding: 20px;
}

#modal-reminders {
    padding: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

#modal {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.svg-header {
    height: 25px;
    width: 25px;
    fill: black;
}

#inputTitle, #inputText, #inputReminders {
    padding: 4px;
}

#projects {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 10px;
}

.card-delete {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
    transition: 300ms ease;
}

.favorite-fill {
    background-color: yellow;
}